body {
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: black;
  grid-template-columns: 1.1fr 4fr;
  width: 1000px;
  margin: auto;
}

#sidebar {
  color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  background-color: rgb(63, 66, 77);
  border-right: 1px solid;
  border-color: rgb(143, 142, 141);
}

#sidebar ul {
  margin: 0;
  padding: 0;
}

#sidebar li {
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 3px 0;
}

#sidebar button {
  background-color: rgb(73, 114, 167);
  color:rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  margin: 3px 10px;
  padding: 4px;
  flex: 1;
}

#sidebar #sb-project-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#sidebar #sb-project-list li {
  list-style: circle;
  margin-left: 10px;
}

#sidebar #sb-project-list li a {
  font-size: 1.1rem;
  color: rgb(236, 191, 67);
}

#content {
  display: flex;
  color: rgb(240, 240, 240);
  flex-direction: column;
  background-color: rgb(49, 49, 63);
  padding: 10px;
}

#project-list {
  display:flex;
  flex-direction: column;
  flex-grow: 1;
  gap:10px;
}

.project-item {
  background-color: rgb(148, 115, 59);
  padding-left:10px;
  flex: 1;
}

.project-item:hover {
  background-color: rgb(163, 128, 68);
}


/* todo-list and items are placeholder and will need reworking to fit into content properly */
#todo-list {
  display: grid;
  justify-content: space-around;
  background-color: rgb(49, 49, 63);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(autofit, minmax(150px, 1fr));
  grid-auto-flow: row;
  gap: 10px;
}

#todo-list h2 {
  margin: 0;
  padding: 0;
  padding-bottom: 6px;
  font-size: 1.3rem;
}

.todo-item, .todo-item-expand {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  border-radius: 5px;
}

.todo-item {
  background-color: rgb(138, 95, 55);
}

.todo-item:hover {
  background-color: rgb(131, 83, 38);
}

.todo-item p, .todo-item-expand p {
  padding: 0;
  margin: 0;
  margin-bottom: 6px;
}

.todo-item-expand {
  background-color: rgb(190, 127, 55);
  grid-column-start: 1;
  grid-column-end: 4;
}

.todo-item-expand ul {
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
}

.todo-item-expand li {
  margin: 0 18px;
}

.todo-item button {
  margin-right: 10px;
}